In [47]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split

### Data Ingestion, Summary and Investigation

In [48]:
df= pd.read_csv('train.csv')

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         103904 non-null  int64
 1   id                                 103904 non-null  int64
 2   Gender                             103904 non-null  object
 3   Customer Type                      103904 non-null  object
 4   Age                                103904 non-null  int64
 5   Type of Travel                     103904 non-null  object
 6   Class                              103904 non-null  object
 7   Flight Distance                    103904 non-null  int64
 8   Inflight wifi service              103904 non-null  int64
 9   Departure/Arrival time convenient  103904 non-null  int64
 10  Ease of Online booking             103904 non-null  int64
 11  Gate location                      103904 non-null  int64
 12  Food and drink                     103904 non-null  int64
 13  Online boarding                    103904 non-null  int64
 14  Seat comfort                       103904 non-null  int64
 15  Inflight entertainment             103904 non-null  int64
 16  On-board service                   103904 non-null  int64
 17  Leg room service                   103904 non-null  int64
 18  Baggage handling                   103904 non-null  int64
 19  Checkin service                    103904 non-null  int64
 20  Inflight service                   103904 non-null  int64
 21  Cleanliness                        103904 non-null  int64
 22  Departure Delay in Minutes         103904 non-null  int64
 23  Arrival Delay in Minutes           103594 non-null  float64
 24  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB

* There are null values in the Arrival Delay in Minutes column

In [50]:
def produce_missing_report(df):
    percent_missing= df.isnull().sum()*100 / len(df)
    missing_values_df= pd.DataFrame(
        {
        'column_name' : df.columns,
        'percent_missing' : percent_missing
        }
    )
    return missing_values_df

In [51]:
produce_missing_report(df)

,column_name,percent_missing
Unnamed: 0,Unnamed: 0,0.000000
id,id,0.000000
Gender,Gender,0.000000
Customer Type,Customer Type,0.000000
Age,Age,0.000000
Type of Travel,Type of Travel,0.000000
Class,Class,0.000000
Flight Distance,Flight Distance,0.000000
Inflight wifi service,Inflight wifi service,0.000000
Departure/Arrival time convenient,Departure/Arrival time convenient,0.000000
Ease of Online booking,Ease of Online booking,0.000000
Gate location,Gate location,0.000000
Food and drink,Food and drink,0.000000
Online boarding,Online boarding,0.000000
Seat comfort,Seat comfort,0.000000
Inflight entertainment,Inflight entertainment,0.000000
On-board service,On-board service,0.000000
Leg room service,Leg room service,0.000000
Baggage handling,Baggage handling,0.000000
Checkin service,Checkin service,0.000000
Inflight service,Inflight service,0.000000
Cleanliness,Cleanliness,0.000000
Departure Delay in Minutes,Departure Delay in Minutes,0.000000
Arrival Delay in Minutes,Arrival Delay in Minutes,0.298352
satisfaction,satisfaction,0.000000

In [52]:
df.head(10)

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
5,5,111157,Female,Loyal Customer,26,Personal Travel,Eco,1180,3,4,...,1,3,4,4,4,4,1,0,0.0,neutral or dissatisfied
6,6,82113,Male,Loyal Customer,47,Personal Travel,Eco,1276,2,4,...,2,3,3,4,3,5,2,9,23.0,neutral or dissatisfied
7,7,96462,Female,Loyal Customer,52,Business travel,Business,2035,4,3,...,5,5,5,5,4,5,4,4,0.0,satisfied
8,8,79485,Female,Loyal Customer,41,Business travel,Business,853,1,2,...,1,1,2,1,4,1,2,0,0.0,neutral or dissatisfied
9,9,65725,Male,disloyal Customer,20,Business travel,Eco,1061,3,3,...,2,2,3,4,4,3,2,0,0.0,neutral or dissatisfied

* Columns Inflight wifi service to Cleanliness have values ranging 1 to 5.
* Satisfaction may be 1 of 2 values.
* The Unnamed and id columns are not meaningful and can be removed.

In [53]:
df['Arrival Delay in Minutes']=df['Arrival Delay in Minutes'].fillna(0.0)

In [54]:
df.isna().any()

Unnamed: 0                           False
id                                   False
Gender                               False
Customer Type                        False
Age                                  False
Type of Travel                       False
Class                                False
Flight Distance                      False
Inflight wifi service                False
Departure/Arrival time convenient    False
Ease of Online booking               False
Gate location                        False
Food and drink                       False
Online boarding                      False
Seat comfort                         False
Inflight entertainment               False
On-board service                     False
Leg room service                     False
Baggage handling                     False
Checkin service                      False
Inflight service                     False
Cleanliness                          False
Departure Delay in Minutes           False
Arrival Delay in Minutes             False
satisfaction                         False
dtype: bool

In [55]:
df['Customer Type'].unique()

array(['Loyal Customer', 'disloyal Customer'], dtype=object)

In [56]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [57]:
df['Type of Travel'].unique()

array(['Personal Travel', 'Business travel'], dtype=object)

In [58]:
df['Class'].unique()

array(['Eco Plus', 'Business', 'Eco'], dtype=object)

In [59]:
df['satisfaction'].unique()

array(['neutral or dissatisfied', 'satisfied'], dtype=object)

In [60]:
df[df['Flight Distance']<=0].shape

(0, 25)

In [61]:
df['Flight Distance'].describe()

count    103904.000000
mean       1189.448375
std         997.147281
min          31.000000
25%         414.000000
50%         843.000000
75%        1743.000000
max        4983.000000
Name: Flight Distance, dtype: float64

In [62]:
df[df['Arrival Delay in Minutes']<0].shape

(0, 25)

In [63]:
df['Arrival Delay in Minutes'].describe()

count    103904.000000
mean         15.133392
std          38.649776
min           0.000000
25%           0.000000
50%           0.000000
75%          13.000000
max        1584.000000
Name: Arrival Delay in Minutes, dtype: float64

In [64]:
df[df['Departure Delay in Minutes']<0].shape

(0, 25)

In [65]:
df['Departure Delay in Minutes'].describe()

count    103904.000000
mean         14.815618
std          38.230901
min           0.000000
25%           0.000000
50%           0.000000
75%          12.000000
max        1592.000000
Name: Departure Delay in Minutes, dtype: float64

In [66]:
df.value_counts("id")!=1

id
1         False
86507     False
86519     False
86518     False
86517     False
          ...
43254     False
43253     False
43252     False
43250     False
129880    False
Length: 103904, dtype: bool

In [67]:
df1= df.value_counts("id")!=1
df1.any()

False

Therefore there are no duplicates

In [68]:
df[['Inflight wifi service', 'Departure/Arrival time convenient', 'Ease of Online booking', 'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort', 'Inflight entertainment', 'On-board service', 'Leg room service', 'Baggage handling', 'Checkin service', 'Inflight service', 'Cleanliness']].max()

Inflight wifi service                5
Departure/Arrival time convenient    5
Ease of Online booking               5
Gate location                        5
Food and drink                       5
Online boarding                      5
Seat comfort                         5
Inflight entertainment               5
On-board service                     5
Leg room service                     5
Baggage handling                     5
Checkin service                      5
Inflight service                     5
Cleanliness                          5
dtype: int64

In [69]:
df[['Inflight wifi service', 'Departure/Arrival time convenient', 'Ease of Online booking', 'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort', 'Inflight entertainment', 'On-board service', 'Leg room service', 'Baggage handling', 'Checkin service', 'Inflight service', 'Cleanliness']].min()

Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     1
Checkin service                      0
Inflight service                     0
Cleanliness                          0
dtype: int64

In [70]:
df[['Inflight wifi service', 'Departure/Arrival time convenient', 'Ease of Online booking', 'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort', 'Inflight entertainment', 'On-board service', 'Leg room service', 'Baggage handling', 'Checkin service', 'Inflight service', 'Cleanliness']].isin([1,2,3,4,5]).sum()

Inflight wifi service                100801
Departure/Arrival time convenient     98604
Ease of Online booking                99417
Gate location                        103903
Food and drink                       103797
Online boarding                      101476
Seat comfort                         103903
Inflight entertainment               103890
On-board service                     103901
Leg room service                     103432
Baggage handling                     103904
Checkin service                      103903
Inflight service                     103901
Cleanliness                          103892
dtype: int64

* The assumption is made that these 14 columns contain a rating from 1 to 5.
* Therefore a rating of 0 indicates missing data.

### Data Cleaning and Imputation

In [71]:
df= df.drop(['Unnamed: 0', 'id'], axis=1)
df.head(5)

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [72]:
df['Customer Type']=df['Customer Type'].replace({'Loyal Customer':0, 'disloyal Customer':1})

In [73]:
df['Type of Travel']= df['Type of Travel'].replace({'Personal Travel':0, 'Business travel':1})

In [74]:
df['Gender']= df['Gender'].replace({'Male':0, 'Female':1})

In [75]:
df['Class']=df['Class'].replace({'Eco': 0, 'Eco Plus':1, 'Business':2})

In [76]:
df['satisfaction']=df['satisfaction'].replace({'satisfied':1,'neutral or dissatisfied':0 })

In [77]:
df.astype({'Type of Travel': 'float64', 'Customer Type': 'float64', 'Class':'float64', 'Gender':'float64', 'satisfaction':'float64', 'Age':'float64', 'Flight Distance': 'float64', 'Inflight wifi service':'float64', 'Departure/Arrival time convenient':'float64', 'Ease of Online booking':'float64', 'Gate location':'float64', 'Food and drink':'float64', 'Online boarding':'float64', 'Seat comfort':'float64','Inflight entertainment':'float64', 'On-board service':'float64', 'Leg room service':'float64', 'Baggage handling':'float64', 'Checkin service':'float64', 'Inflight service':'float64', 'Cleanliness':'float64', 'Departure Delay in Minutes':'float64', 'satisfaction':'float64'}).dtypes

Gender                               float64
Customer Type                        float64
Age                                  float64
Type of Travel                       float64
Class                                float64
Flight Distance                      float64
Inflight wifi service                float64
Departure/Arrival time convenient    float64
Ease of Online booking               float64
Gate location                        float64
Food and drink                       float64
Online boarding                      float64
Seat comfort                         float64
Inflight entertainment               float64
On-board service                     float64
Leg room service                     float64
Baggage handling                     float64
Checkin service                      float64
Inflight service                     float64
Cleanliness                          float64
Departure Delay in Minutes           float64
Arrival Delay in Minutes             float64
satisfaction                         float64
dtype: object

### Feature Selection

In [85]:
df.corrwith(df['satisfaction']).sort_values(ascending=False)

satisfaction                         1.000000
Online boarding                      0.503557
Class                                0.494471
Type of Travel                       0.449000
Inflight entertainment               0.398059
Seat comfort                         0.349459
On-board service                     0.322383
Leg room service                     0.313131
Cleanliness                          0.305198
Flight Distance                      0.298780
Inflight wifi service                0.284245
Baggage handling                     0.247749
Inflight service                     0.244741
Checkin service                      0.236174
Food and drink                       0.209936
Ease of Online booking               0.171705
Age                                  0.137167
Gate location                        0.000682
Gender                              -0.012211
Departure Delay in Minutes          -0.050494
Departure/Arrival time convenient   -0.051601
Arrival Delay in Minutes            -0.057435
Customer Type                       -0.187638
dtype: float64